<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="/htmlParse.js"></script>
  <script src="/he.js"></script>
  <script>
    function html_decode(str) {
      var results = "";
      HTMLParser(he.unescape(str), {
        start: function (tag, attrs, unary) {
          if (['script', 'iframe', 'style'].includes(tag)) return;
          results += "<" + tag;
          for (var i = 0; i < attrs.length; i++)
            if (['onerror', 'onclick'].includes(attrs[i].name)) results += ''
            else results += " " + attrs[i].name + '="' + attrs[i].escaped + '"';
          results += ">";
        },
        end: function (tag) {
          results += "</" + tag + ">";
        },
        chars: function (text) {
          results += text;
        },
        comment: function (text) {
          results += "<!--" + text + "-->";
        }
      });
      return results;
    }
  </script>
</head>

<body>
  <textarea name="" id="txt" cols="30" rows="10"></textarea>
  <button id="comment">comment</button>
  <button id="getcomment">getcomment</button>
  <script>
    const comment = document.getElementById('comment')
    const getcomment = document.getElementById('getcomment')
    const txt = document.getElementById('txt')

    comment.addEventListener('click', function () {
      const XHR = new XMLHttpRequest()
      XHR.onreadystatechange = function () {
        // 0 1 2 3 4
        // 0 － （未初始化）还没有调用send()方法
        // 1 － （载入）已调用send()方法，正在发送请求
        // 2 － （载入完成）send()方法执行完成，已经接收到全部响应内容
        // 3 － （交互）正在解析响应内容
        // 4 － （完成）响应内容解析完成，可以在客户端调用了
        if (XHR.readyState === 4) {
          if (XHR.status === 200) {

          }
        }
      }
      XHR.open('GET', '/comment' + '?comment=' + txt.value, true)
      XHR.send()
    })

    getcomment.addEventListener('click', function () {
      const XHR = new XMLHttpRequest()
      XHR.onreadystatechange = function () {
        if (XHR.readyState === 4) {
          if (XHR.status === 200) {
            const data = XHR.response
            const parseData = JSON.parse(data)
            console.log('parseData', parseData)
            const html = html_decode(parseData.comment)
            const span = document.createElement('span')
            span.innerHTML = html
            document.body.appendChild(span)
          }
        }
      }
      XHR.open('GET', '/getcomment' + '?comment=' + txt.value, true)
      XHR.send()
    })
  </script>
</body>

</html>