body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote {
    margin: 0;
    padding: 0;
}
html {
    color: #111;
    background: #fff;
}
body {
    padding-top: 30px;
}
body,td,th {
    font: 12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
}
ul, ol {
    list-style: none;
}
h1 {
    word-wrap: break-word;/*允许长单词换行到下一行*/
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #494949;
    margin: 0;
    padding: 0 0 15px 0;
    line-height: 1.1;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}
#anony-nav {
    width: 950px;
    margin: 0 auto 25px;
}
#anony-nav .anony-nav-links {
    float: right;
    margin-top: 6px;
}
#anony-nav .anony-nav-links li {
    display: inline-block;
    *display: inline;/*给IE7浏览器兼容*/
    zoom: 1;
    margin: 0 0 0 17px;
}
#anony-nav .anony-nav-links li a {
    display: inline-block;
    *display:inline;
    zoom: 1;
    width: 40px;
    height: 20px;
    overflow: hidden;
    margin: 0;
    line-height: 20em;
    outline: none;
    vertical-align: middle;
    background: transparent url(https://img3.doubanio.com/f/sns/8536084688879cb1137e8efdff30e59614ff2f86/pics/sns/anony_home/anony_nav_logo.png) no-repeat 100% 100%;
    background-image: -webkit-image-set(url(https://img3.doubanio.com/f/sns/8536084688879cb1137e8efdff30e59614ff2f86/pics/sns/anony_home/anony_nav_logo.png) 1x,
     url(https://img3.doubanio.com/f/sns/82c3a65bdec3e60331a8dd5805bb842e76ac0c04/pics/sns/anony_home/anony_nav_logo@2x.png) 2x);
}
#anony-nav .anony-nav-links li .lnk-book {
    background-position: 0 0;
}
#anony-nav .anony-nav-links li .lnk-movie {
    background-position: -60px 0;
}
#anony-nav .anony-nav-links li .lnk-music {
    background-position: -120px 0;
}
#anony-nav .anony-nav-links li .lnk-group {
    background-position: -180px 0;
}
#anony-nav .anony-nav-links li .lnk-events {
    background-position: -299px 0;
}
#anony-nav .anony-nav-links li .lnk-fm {
    background-position: -241px 0;
}
#anony-nav .anony-nav-links li .lnk-shijian {
    margin-bottom: 1px;
    background: transparent url(https://img3.doubanio.com/f/sns/b474dd402e4293943146a4789de3dae88ec96636/pics/sns/anony_home/ic_shijian_home_nav.png)no-repeat 100% 100%;
    background-image: -webkit-image-set(url(https://img3.doubanio.com/f/sns/b474dd402e4293943146a4789de3dae88ec96636/pics/sns/anony_home/ic_shijian_home_nav.png) 1x,
     url(https://img3.doubanio.com/f/sns/74745beec69da53ac959a9bcc4e1e66f852ba2e8/pics/sns/anony_home/ic_shijian_home_nav@2x.png) 2x);
    background-size: cover;
}
#anony-nav .anony-nav-links li .lnk-market {
    width: 42px;
    background-position: -421px 0;
}
#anony-nav h1 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    width: 160px;
    height: 34px;
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    background:url(https://img3.doubanio.com/f/sns/19886d443852bee48de2ed91f4a3bdfdaf8c809c/pics/nav/logo_db.png) no-repeat 0 0;
    background-image: -webkit-image-set(url(https://img3.doubanio.com/f/sns/19886d443852bee48de2ed91f4a3bdfdaf8c809c/pics/nav/logo_db.png) 1x,
     url(https://img3.doubanio.com/f/sns/0f9e2dbca60b52f595ddbc02073cb4bb879ed1c9/pics/nav/logo_db@2x.png) 2x);
    overflow: hidden;
}
#anony-nav h1 a {
    display: block;
    height: 34px;
    line-height: 10em;
}
a:visited {
    color: #669;
    text-align: none;
}
a:link {
    color: #37a;
    text-align: none;
}
a {
    cursor: pointer;
}
#anony-nav .anony-srh {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    width: 270px;
    height: 30px;
    border: 1px solid #c3c3c3;
}
form {
    margin: 0;
    padding: 0;
    border: 0px;
}
#anony-nav .anony-srh .inp {
    display: block;
    height: 30px;
    overflow: hidden;
}
#anony-nav .anony-srh .inp input {
    width: 240px;
    border: none;
    font-size: 13px;
    height: 20px;
    padding: 5px;
    outline: none;
}
input {
    margin-right: 3px;
    vertical-align: middle;
}
input {
    font-size: 12px;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
input, button, textarea, select {
    *font-size: 100%;
}
#anony-nav .anony-srh .bn {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    background: url(https://img3.doubanio.com/f/sns/f71f15922ebd7c0ff0ea0e7a25577529efd8981a/pics/icon/bn_srh_1.png) 50% 50% no-repeat;
}
#anony-nav .anony-srh .bn input {
    border: none;
    background: transparent;
    *padding-left: 30px;
    overflow: hidden;
    width: 30px;
    height: 30px;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}
input {
    margin-right: 3px;
    vertical-align: middle;
}
