body {
  padding: 20px;
}
.progressBar {
  position: relative;
  width: 300px;
  height: 3px;
  background-color: black;
}
.progress, .progressBtn {
  position: absolute;
  left: 0;
  top: 0;
}
.progress {
  height: 100%;
}
.progressBtn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid red;
  top: -6px;
  margin-left: -5px;
}