html,
body {
  width: 100%;
}
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.section-title {
  font-size: 17px;
  font-weight: bold;
  color: #000;
}
.action-list.section-title {
  padding-left: 0.4rem;
}

.nav {
  height: 1.067rem;
  font-size: 18px;
  text-align: center;
  background-color: #e54847;
  padding: 6px;
  box-sizing: border-box;
  color: #fff;
}
.arrow-left {
  float: left;
  height: 100%;
  position: relative;
}
.arrow-left:after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 16px;
  border: 2px solid #fff;
  border-width: 0 0 2px 2px;
  transform: rotate(45deg) translateY(-50%);
}
.arrow-left span {
  color: #fff;
  display: inline-block;
}
.page {
  background: #f4f4f4;
  position: relative;
  z-index: 1;
  color: #555;
  min-width: 3.1rem;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  font: 14px/1.5 Arial, Helvetica, sans-serif;
}
section {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.movie-header {
  padding: 0;
  background: #f8f8f8;
  border-bottom: none;
}
.movie-header .movie {
  color: #fff;
  padding: 0.4rem;
  line-height: 1;
  position: relative;
  box-sizing: border-box;
  filter: blur(0);
}
.movie-header .movie-background,
.movie-header .movie-filter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.movie-header .movie-background {
  z-index: 0;
  filter: blur(0.6rem);
  -webkit-filter: blur(0.6rem);
  background-image: url("./images/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40%;
}
.movie-header .movie-filter {
  background: #40454d;
  opacity: 0.5;
}
.movie-header .movie-container {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.movie-header .movie-container .movie-cover {
  float: left;
  width: 2.854rem;
  height: 4rem;
  border: 1px solid #f0f2f3;
  position: relative;
}
.movie-header .movie-container .movie-cover .img {
  width: 100%;
}
.movie-header .movie-container .movie-cover:after {
  content: '';
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background-image: url("./images/bofang.png");
  background-size: 100% auto;
  opacity: 0.7;
}
.movie-header .movie-container .movie-content {
  overflow: hidden;
  padding-left: 0.4rem;
}
.movie-header .movie-container .movie-content .movie-name {
  font-size: 17px;
  margin: 0.08rem 0;
}
.movie-header .movie-container .movie-content .movie-ename {
  font-size: 12px;
  margin-bottom: 0.3rem;
}
.movie-header .movie-container .movie-content .movie-score {
  font-size: 12px;
  margin-bottom: 0.3rem;
}
.movie-header .movie-container .movie-content .movie-score .rating .img {
  width: 0.48rem;
  height: 0.48rem;
  margin-right: 2px;
}
.movie-header .movie-container .movie-content .movie-score .rating .img .rating-score {
  font-size: 0.48rem;
  color: #ffc600;
}
.movie-header .movie-container .movie-content .movie-detail {
  font-size: 12px;
  margin-bottom: 0.16rem;
  opacity: 0.7;
}
.movie-header .movie-container .movie-content .movie-detail div,
.movie-header .movie-container .movie-content .movie-detail p {
  margin-bottom: 0.14rem;
}
.movie-header .movie .opreating {
  margin-top: 0.5rem;
}
.movie-header .movie .opreating div {
  border: 1px solid rgba(255,255,255,0.4);
  background-color: rgba(255,255,255,0.4);
  font-size: 14px;
  color: #fff;
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 0.25rem 0;
  border-radius: 4px;
}
.movie-header .movie .opreating div img {
  vertical-align: middle;
}
.movie-header .movie .opreating div span {
  vertical-align: middle;
}
.movie-header .movie .opreating .movie-watch {
  margin-right: 0.3rem;
}
.movie-header .movie .opreating .movie-watch img {
  width: 14px;
  height: 14px;
}
.movie-header .movie .opreating .movie-mark img {
  width: 18px;
  height: 18px;
}
.section-seperate {
  padding-top: 0.4rem;
  margin-bottom: 0.3rem;
  border-top: 1px solid #e5e5e5;
}
.section-expander {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.section-expander .text-expander_content.close {
  min-height: 65px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.section-expander .text-expander_button {
  height: 0.7rem;
  text-align: center;
}
.section-expander .text-expander_button .icon-chevron_down {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid #000;
  border-width: 0 1px 1px 0;
  transform: rotateZ(45deg);
  box-sizing: border-box;
  transition: transform 0.5s;
}
.section-expander .text-expander_button .icon_chevron_down.up {
  transform: rotateZ(-135deg);
}
.section-sperate .movie-celebrities {
  width: 100%;
  padding: 0.3rem 0.3rem 0.1rem 0.3rem;
  overflow-x: scroll;
  white-space: nowrap;
  box-sizing: border-box;
}
.section-sperate .movie-celebrities li {
  text-align: center;
  display: inline-block;
  padding: 0.04rem;
}
.section-sperate .movie-celebrities li .link {
  color: #000;
}
.section-sperate .movie-celebrities li .link .movie-celebrities_pic {
  width: 1.7334rem;
  height: 2.4rem;
  margin: 0.05rem;
}
.section-sperate .movie-celebrities li .link .movie-celebrities_pic img {
  width: 100%;
}
.section-sperate .movie-celebrities li .link span {
  display: block;
  font-size: 0.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.section-sperate .movie-celebrities li .link .movei-celebrities-roles {
  color: #999;
}
.movie-booking {
  padding-bottom: 0.2rem;
}
.movie-booking .weui-flex {
  text-align: center;
}
.movie-booking .weui-flex .placeholder span {
  font-size: 24px;
  color: #d96a3d;
}
.movie-booking .weui-flex .placeholder p {
  color: #bababa;
  margin-top: 0.1rem;
}
.section-sperate .mv {
  width: 100%;
  padding: 0.3rem 0.3rem 0.2rem 0.3rem;
  overflow-x: scroll;
  white-space: nowrap;
  box-sizing: border-box;
}
.section-sperate .mv li {
  margin-right: 0.13333rem;
  display: inline-block;
  height: 1.867rem;
}
.section-sperate .mv li .movie-celebrities_pic {
  width: 100%;
  height: 100%;
}
.section-sperate .mv li .movie-celebrities_pic img {
  width: 100%;
  height: 100%;
}
.section-sperate .mv li .movie-celebrities_pic:first-child {
  width: 3.33334rem;
  height: 1.867rem;
}
.section-sperate .mv li .movie-celebrities_pic:last-child {
  margin-right: 0;
}
.section-sperate .pos_r {
  position: relative;
}
.section-sperate .pos_r .join-comment {
  color: #fff;
  background-color: #e54847;
  border-radius: 20px;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0.1rem 0.3rem;
}
.section-sperate .movie-comment {
  padding: 0.2rem 0 0.4rem 0;
  overflow: hidden;
}
.section-sperate .movie-comment .comment-item {
  float: left;
  padding: 0.1rem 0.25rem;
  border: 1px solid #aaa;
  border-radius: 20px;
  margin-top: 0.2rem;
  margin-right: 0.5rem;
}
.section-sperate .movie-comment .comment-item .comment-item_sort {
  font-size: 14px;
}
/* .chosen-comment{
  height: 100%;
  padding: 0.3rem 0.3rem 0.1rem 0.3rem;
  overflow-y: scroll;
  white-space: nowrap;
  box-sizing: border-box;
} */
.section-seperate .chosen-comment .chosen-comment__item {
  position: relative;
}
.section-seperate .chosen-comment .chosen-comment__item .item-avatal {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 40px;
}
.section-seperate .chosen-comment .chosen-comment__item .item-avatal img {
  border-radius: 50%;
  width: 100%;
}
.section-seperate .chosen-comment .chosen-comment__item .item-detail {
  position: absolute;
  top: 0px;
  left: 60px;
}
.item-detail__hd{
  display: flex;
  flex-direction: column;
}
.nick-name{
  display: inline-block;
}
.level{
  width: 20px;
  margin-left: 10px;
}
.level img{
  height: 17px;
  width: 30.5px;
  transform: translateY(5px)
}
.item-score__desc{
  margin-top: 2px;
}
.comment-detail{
/*   
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; */
 
}
.buy{
  width: 100%;
  background: red;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
}
.buy a{
  text-decoration: none;
  color: #fff;
}

#toast {
  display: none;
}
.active {
  display: block !important;
}
